:root{
    --color-main: #2f6d41;
    --color-form: #edeff1;
}

body {
    font-family: Arimo, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.view_icon {
    height: 20px;
    width: 20px;
    margin:5px;
}
.background{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    margin:auto;
}
.backgroundImg{
    width: 85%;
}
/* CSS để ẩn các trang theo mặc định và chỉ hiển thị trang active */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 50px auto;
    display: none; /* Ẩn tất cả các main theo mặc định */
}
main.active {
    display: flex; /* Chỉ hiển thị main có class 'active' */
} 

.tintuc{
    color: #cb9c04;
    padding: 15px 25px 0;
}
article img  {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

main article {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 23%;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
main article:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.view{
    display: flex;
    align-items:center;
    gap:5px;
    justify-content: flex-end;
    opacity: 0.5;
}
.year{
    font-size:16px;
}
.adstitle a{
    text-decoration: none;
    color:#000000;
}
.adstitle a:hover{
    color:#0a6b02
}
main article p:last-of-type{
    border-top:1px solid #000000;
    padding-top:20px
}
.pageChanging button{
    border:1px solid #0a6b02;
    background-color: transparent;
    margin: 5px;
    padding: 10px;
}
.pageChanging{
    margin-bottom: 20px;
    text-align: center;
}
.pageChanging button:hover{
    background-color: #0a6b02;
    color: white;
}