:root{
    --color-main: #2f6d41;
    --color-form: #edeff1;
}

body {
    font-family: Arimo, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.view_icon {
    height: 20px;
    width: 20px;
    margin:5px;
}

.page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 50px auto;
}
.tintuc{
    color: #cb9c04;
    padding: 15px 25px 0;
}
article img  {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.page2 article {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 23%;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.page2 article:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.view{
    display: flex;
    align-items:center;
    gap:5px;
    justify-content: flex-end;
    opacity: 0.5;
}
.year{
    font-size:16px;
}
.adstitle a{
    text-decoration: none;
    color:#000000;
}
.adstitle a:hover{
    color:#0a6b02
}
.page2 article p:last-of-type{
    border-top:1px solid #000000;
    padding-top:20px
}

